li {
    list-style: none;
    border-bottom: 1px solid rgba(110, 110, 110, 0.5);
    padding-bottom: 2px;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:#4D4D4D;
    animation: slide-up 0.5s ease; 
    margin-top: 30px;
    margin-bottom: 5px;
    word-break: break-all;
}

  
i {
  color: #011688;
  background: none;
  border:none;
  margin: 2px;
  cursor:pointer;
}

@media all and (max-width:1366px){
  li{
    font-size: 0.83em;
    min-height: 40px;
  }
}


@media all and (max-width:768px){
  li{
    font-size: 0.8em;
  }
}



